Hello, this is your <a href="/api/dashboard">Dashboard</a>. :)
<hr />
TODO:
Quick Dashboard Front-Page helpers:
<div>
    <ol>
        <li>View all harvested for the week</li>
        <li>View all orders made for the week</li>
        <li>Tab indicating low stock and listing the corresponding items</li>
        <li>More...</li>
        <li>Scheduling options (extra)</li>
    </ol>
</div>