<!-- START OF DASHBOARD TILES -->
<div class="pull-left"><strong>{{moment}}</strong></div>
<div class="pull-right"><strong><span id="clock"></span></strong></div>
<br><br>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            <center>
                <h1 class="tiles-header">
                    <span class="tiles-small">£</span>1050 
                </h1>
                <p class="tiles-label">Total Sales</p>
            </center>
            </div>
        </div>                    
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            <center>
                <h1 class="tiles-header">
                    50<span class="tiles-small">kg</span> 
                </h1>
                <p class="tiles-label">Amount Sold</p>
            </center>
            </div>
        </div>                    
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            <center>
                <h1 class="tiles-header">
                    50
                </h1>
                <p class="tiles-label">Amount purchased</p>
            </center>
            </div>
        </div>                    
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
            <center>
                <h1 class="tiles-header">
                    10<span class="tiles-small">kg</span>  
                </h1>
                <p class="tiles-label">Amount Harvested</p>
            </center>
            </div>
        </div>                    
    </div>                                           
</div>  
<!-- END OF DASHBOARD TILES -->    

<div class="row">
    <!-- START OF ORDER STATUS --> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title"><span class="badge" style="transform: scale(1.225);">52</span> Order Status</h3>
            </div>
            <div class="panel-body">
            <div class="row" style="padding: 15px 10px 15px 45px">
                <div class="col-md-4">
                    <h4 class="black margin-md"><b>25 </b> - Delivered</h4>
                    <h4 class="black margin-md"><b>2 </b> - Pending Delivery</h4>
                    <h4 class="black margin-md"><b>25 </b> - Not Delivered</h4>
                </div>
                <div class="col-md-7" style="background: #CCC; height: 300px;">
                    <h1>CHART</h1>
                </div>                            
            </div>
            </div><!--.panel-body-->
        </div>
    </div><!--.col-->
    <!-- END OF ORDER STATUS --> 
</div><!--.row-->

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" 
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        function getdate(){
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            
            // format seconds
            if(s < 10){
                s = "0" + s;
            }

            // format hours (am / pm)
            if (h <= 12) {
                $("#clock").text(h + ":" + m + ":" + s + " AM");
            }
            else {
                $("#clock").text(h - 12 + ":" + m + ":" + s + " PM");
            }

            // call the func. on fixed intervals
            setTimeout(function(){getdate()}, 500);
        }
        getdate();
    });
</script>