{{#if user}}
{{#if valid_msg}}
    <div class="alert alert-danger">{{valid_msg}}</div>
{{/if}}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please fill out the details</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" method="post" action="/api/users/new">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="First name" name="firstname" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last name" name="lastname" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email">
                                </div>
                                <div class="form-group">
                                    <label>Access level</label>
                                    <select multiple class="form-control" name="role" required>
                                        <option value="Choose..." selected selected>Choose...</option>
                                        <option value="0">Administrator</option>
                                        <option value="1">Staff member</option>
                                        <option value="2">Delivery man</option>
                                    </select>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-purple btn-block">Create</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}