Hello, this is users management landing page. :)<hr />

<a style="text-decoration: none;" href="/api/users/register">
    <button class="btn btn-md btn-primary">
        <strong>Add a new member</strong>
    </button>
</a>