Hello, this is users management landing page. :)<hr />

<a style="text-decoration: none;" href="/api/users/register">
    <button style="border: 2px solid #AAA;" class="btn btn-md btn-inverse">
        <strong>Add a new member</strong>
    </button>
</a>