{{#if valid_msg}}
    <div class="alert alert-danger">{{valid_msg}}</div>
{{/if}}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Set a new password</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post" action="/api/users/reset">
                    <fieldset>
                        <div class="form-group">
                        {{#if email}}
                            <input class="form-control" name="email" type="email" value="{{email}}" readonly="true">
                        {{/if}}
                        {{#unless email}}
                            <input class="form-control" placeholder="E-mail" name="email" type="email">
                        {{/unless}}
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm password" name="confirmPassword" type="password">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block">Update</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>